@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

/* Tab Bar Custom Styling handled in CustomTabBar.css */

:root {
    --ion-font-family: 'Inter', 'Kanit', system-ui, -apple-system, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    --ion-color-primary: #9E0A15;
    --ion-color-primary-rgb: 158, 10, 21;
    --ion-color-primary-tint: #b32a3a;
    --ion-color-primary-shade: #7a0810;
    --ion-border-radius: 8px;

    --ion-color-warning: #F9E000;
    --ion-color-warning-rgba: 249, 224, 0;
    --ion-color-warning-shade: #c1a800;

    --ion-color-tertiary-tint: #EFF6FF;
    --ion-color-tertiary-shade: #BFDBFE;
    --ion-color-tertiary: #BAC4F5;
    --ion-color-tertiary-rgb: 186, 196, 245;

    --ion-color-white: #ffffff;

    --ion-color-light: #f8f9fa;
    --ion-color-light-tint: #ededed;
    --ion-color-light-shade: #cfcece;

    --ion-color-meduim: #6c757d;
    --ion-color-meduim-tint: #a6a7a8;
    --ion-color-meduim-shade: #6c757d;

    --ion-color-dark: #121417;

    --ion-text-color: #111827;

    --ion-background-color: #ffffff;

    --ion-color-success: #25b058;
    --ion-color-success-rgb: 21, 128, 61;
    --ion-color-success-tint: #4eb574;
    --ion-color-success-shade: #15843e;
}

/* body{
	background: var(--ion-background-color);
	color: var(--ion-text-color);
    font-family: var(--ion-font-family);
} */

@media (prefers-color-scheme: dark) {

    /*
   * Dark Colors
   * -------------------------------------------
   */
    body {

        /** dark **/
        --ion-color-dark: #ffffff;
        --ion-color-dark-rgb: 255, 255, 255;
        --ion-color-dark-contrast: #000000;
        --ion-color-dark-contrast-rgb: 0, 0, 0;
        --ion-color-dark-shade: #d7d8da;
        --ion-color-dark-tint: #f9f9f9;


        /** light **/
        --ion-color-light: #1e1d1d;
        --ion-color-light-rgb: 0, 0, 0;
        --ion-color-light-contrast: #000000;
        --ion-color-light-contrast-rgb: 0, 0, 0;
        --ion-color-light-shade: #1e1e1e;
        --ion-color-light-tint: #303030;


        --ion-color-white: #000;

        --ion-color-meduim: #cacbcc;
        --ion-color-meduim-tint: #d8dadc;
        --ion-color-meduim-shade: #fcfcfc;
    }
}